<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Pictionary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="m-5">
        <div class="card p-5 m-5">
            <h1
                    th:each="word : ${words}"
                    th:text="${word.name}"
                    class="text-center"
            />
        </div>
    </div>
    <form th:action="@{/}">
        <div class="form-group">
            <label for="count-select"># of words:</label>
            <select name="count" id="count-select" class="form-control custom-select">
                <option th:each="number : ${count}"
                        th:value="${number}"
                        th:text="${number}"
                        th:selected="${#strings.equals(param.count, number)}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Generate</button>
    </form>
</div>
</body>
</html>
