<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Pictionary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="m-3">
        <div class="card p-3 m-3">
            <h2
                    th:each="word : ${words}"
                    th:text="${word.name}"
                    class="text-center"
            />
        </div>
    </div>
    <form th:action="@{/}">
        <div class="form-group">
            <label for="count-select"># of words:</label>
            <select name="count" id="count-select" class="form-control custom-select">
                <option th:each="number : ${count}"
                        th:value="${number}"
                        th:text="${number}"
                        th:selected="${#strings.equals(param.count, number)}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Generate</button>
    </form>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Source Code:&nbsp;
            <a href="https://github.com/kriscfoster/pictionary">https://github.com/kriscfoster/pictionary</a>
        </span>
    </div>
</footer>
</body>
</html>
